.dropdown-menu-right .dropdown-item:hover {
  background-color: #bb2d3b;
  color: white;
}


.dropItem:hover {
  background-color: #bb2d3b;
  color: white;
}
/* list hover style  */

.list-group-item {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.list-group-item:hover {
  padding-left: 30px; /* Adjust the value as needed */
}

.list-group-item::before {
  content: attr(data-number);
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  font-weight: bold;
}

.list-group-item:hover::before {
  opacity: 1;
  left: 10px; /* Adjust the value as needed */
}

/* floating button  */
/* FloatingButton.css */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  border-radius: 15%;
  background-color: #bb2d3b; /* Change to your desired color */
  color: white;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.floating-button:hover {
  background-color: rgb(223, 26, 26); /* Change to your desired hover color */
}
